.header {
  background-color: #b7e8f4;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px; 
  line-height: 60px; 
  background-color: #f5f5f5;
}

.page {
  padding: 20px;
}

.pageHeader {
  padding: 20px;
  background-color: #f5f5f5;
}

.pageBody {
  padding: 20px;
}

.img-fluid {
  width: auto;
}

.butter-img {
  height: 1em;
}