


.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.appContent {
  flex: 1;
}

.appHeader {
  padding: 2vh;
  background-color: #b7e8f4;
}

.appFooter {
  padding: 2vh;
  background-color: #f5f5f5;
}

.pageSections {
  padding: 2vh;
}

.pageSection {
  padding-bottom: 1vh;
  padding-bottom: 1%;
}